STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_ID=price_...
CHECKOUT_SUCCESS_URL=http://127.0.0.1:8000/payment/success/?session_id={CHECKOUT_SESSION_ID}
CHECKOUT_CANCEL_URL=http://127.0.0.1:8000/payment/cancel/
